<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CreditApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="/solicitations" class="nav-link" href="#">Solicitações</a>
        </li>
        <li class="nav-item">
          <a routerLink="/credits" class="nav-link" href="#">Créditos</a>
        </li>
        <!-- <li class="nav-item">
            <a routerLink="/profile" class="nav-link" href="#">Perfil</a>
          </li> -->
        <li class="nav-item">
          <a routerLink="/login" class="nav-link" href="#" (click)="logOut()">Sair</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>