<div class="container">
    <h2>Cadastre-se</h2>
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control shadow-none" name="cpf" id="cpf" placeholder="CPF" [(ngModel)]="cpf" autofocus>
            </div>
            <div class="form-group col-md-4">
                <label for="first-name">Nome</label>
                <input type="text" class="form-control shadow-none" name="first-name" id="first-name" placeholder="Nome" [(ngModel)]="firstName">
            </div>
            <div class="form-group col-md-4">
                <label for="last-name">Sobrenome</label>
                <input type="text" class="form-control shadow-none" name="last-name" id="last-name" placeholder="Sobrenome" [(ngModel)]="lastName">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="age">Idade</label>
                <input type="number" class="form-control shadow-none" name="age" id="age" placeholder="Idade" [(ngModel)]="age">
            </div>
            <div class="form-group col-md-5">
                <label for="email">Email</label>
                <input type="email" class="form-control shadow-none" name="email" id="email" placeholder="Email" [(ngModel)]="email">
            </div>
            <div class="form-group col-md-5">
                <label for="password">Senha</label>
                <input type="password" class="form-control shadow-none" name="password" id="password" placeholder="Senha" [(ngModel)]="password">
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block shadow-none" (click)="saveUser()">Sign in</button>
    </form>
</div>